Source: ka-lite-hotspot
Section: gnome
Priority: extra
Maintainer: Jamie Alexandre <jamie@learningequality.org>
Build-Depends: 	debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: https://learningequality.org/

Package: ka-lite-hotspot
Architecture: all
Depends: hostapd,
		 dnsmasq,
		 iw,
		 ${misc:Depends}
Description: Hotspot for KA Lite
 .
 A script to create an infrastructure WiFi hotspot (access point mode) in
 Ubuntu, for accessing KA Lite, using dnsmasq to direct all traffic to KA Lite.
