ACTION=="add", ENV{ID_VENDOR_ID}=="148f", RUN+="/etc/init/ka-lite-hotspot start"
ACTION=="remove", ENV{ID_VENDOR_ID}=="148f", RUN+="/etc/init/ka-lite-hotspot stop"