ACTION=="add", ENV{ID_VENDOR_ID}=="148f", RUN+="/usr/bin/ka-lite-hotspot-service.sh start"
ACTION=="remove", ENV{ID_VENDOR_ID}=="148f", RUN+="/usr/bin/ka-lite-hotspot-service.sh stop"